
.patient-show {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.patient-card {
    min-width: 33rem;
    padding: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    color: $color-text-secondary;
    
    a {
        font-size: 1.6rem;
    }
    
    img {
        border-radius: 8px;
        width: 90%;
    }
}


.patient-appointments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 45rem);
    min-width: 33rem;
    padding: 1.5rem; 
    overflow-Y: scroll;
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);

    &__card {
        border: 1px solid $color-text-secondary;
        border-radius: 8px;     
        width: 18rem;   
        padding: 1rem;
        margin: 0.5rem;
        text-align: center;
        background-color: lighten($color-primary-light, 15%);

        .app-name {
            color: $color-text-secondary;
        }
    }
}