<div class="home">
    <h1 class="home__banner">Welcome To Prismatic Health</h1>

    <img src="/assets/prismatic-logo.svg" alt="company logo">

    <h3>It's time to get the care you deserve.</h3>
    <h3>Log in as a patient to schedule appointments.</h3>
</div>

