$color-primary: #1976D2;
$color-primary-light: lighten(#1976D2, 30%);
$color-background: lighten(#1976D2, 50%);
$color-white: white;

$color-text: #37474F;
$color-text-secondary: darken($color-primary, 20%);
