    <div class="header">
        <div class="header__title">
            <img src="/assets/prismatic-logo.svg" alt="prismatic health logo">
            <h2>Prismatic Health</h2>
        </div>
        <div class="header__app"> Appointments Portal </div>
    </div>
    